node_modules
vendor
.git
.gitignore
.env
.env.example
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
.vscode
.idea
*.md
docs
tests
phpunit.xml
.editorconfig
.styleci.yml

